<%- include("../fragments/header.ejs") %>

<!-- Your main content goes here -->
    <body>
    <div class="background"> </div>
    <div class="button-container">
        <a href="/view" class="view-button">View Tables</a>
        
    
    </div>    
    <h1>Firma de avocatura Goodman &CO</h1>
  </body>
<%- include("../fragments/footer.ejs") %>