<%- include("../fragments/header.ejs") %>

<!-- Your main content goes here -->
<body>
    <div class="background"> </div>
    <div class="button-container">
        <a href="/view/contracte" class="contr-button">Contracte</a>
        <a href="/view/avocati" class="avo-button">Avocati</a>
        <a href="/view/clienti" class="cli-button">Clienti</a>
        <a href="/" class="home-button">Back to Homepage</a>
        
    
    </div>    
    <h1>Select a Table</h1>
  </body>
<%- include("../fragments/footer.ejs") %>